/* Template: Stream - Live Class Landing Page Template
   Author: Inovatik
   Description: Master CSS file
*/

/*****************************************
Table Of Contents:
- General Styles
- Navigation
- Header
- Introduction
- Takeaways
- Summary
- Description
- Description Lightbox
- Instructor
- Testimonials
- Partners
- Invitation
- Portfolio
- Newsletter
- Footer
- Copyright
- Back To Top Button
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #ebeffb
- Backgrounds, icons, bullets - blue #4037a6
- Buttons - yellow #ffb93f
- Headings text - black #1d1d3f
- Body text - gray #5a676f
- Icons - red #ff5a75
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
}

body, p {
	color: #5a676f; 
	font: 400 1rem/1.75rem "Open Sans", sans-serif;
}

h1 {
	color: #1d1d3f;
	font: 700 2.5rem/3.25rem "Open Sans", sans-serif;
}

h2 {
	color: #1d1d3f;
	font: 700 2rem/2.625rem "Open Sans", sans-serif;
}

h3 {
	color: #1d1d3f;
	font: 700 1.5rem/2.25rem "Open Sans", sans-serif;
}

h4 {
	color: #1d1d3f;
	font: 700 1.25rem/1.75rem "Open Sans", sans-serif;
}

h5 {
	color: #1d1d3f;
	font: 700 1.125rem/1.625rem "Open Sans", sans-serif;
}

h6 {
	color: #1d1d3f;
	font: 700 1rem/1.5rem "Open Sans", sans-serif;
}

.p-lg {
	font: 400 1.25rem/2.125rem "Open Sans", sans-serif;
}

.p-small {
	font: 400 0.875rem/1.625rem "Open Sans", sans-serif;
}

.p-heading {
	margin-bottom: 4.25rem;
	text-align: center;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

a {
	color: #5a676f;
	text-decoration: underline;
}

a:hover {
	color: #5a676f;
	text-decoration: underline;
}

.red {
	color: #ff5a75;
}

.m-bottom-0 {
	margin-bottom: 0;
}

.m-bottom-1 {
	margin-bottom: 1rem;
}

.m-bottom-2 {
	margin-bottom: 2rem;
}

.m-bottom-3 {
	margin-bottom: 3rem;
}

.m-bottom-4 {
	margin-bottom: 4rem;
}

.m-bottom-5 {
	margin-bottom: 5rem;
}

.m-bottom-6 {
	margin-bottom: 6rem;
}

.hr-heading {
	display: inline-block;
	width: 3.5rem;
	height: 0.125rem;
	border: none;
	background-color: #ff5a75;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 0.125rem solid #ffb93f;
	border-radius: 2rem;
	background-color: #ffb93f;
	color: #1d1d3f;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	border: 0.125rem solid #ffb93f;
	background-color: transparent;
	color: #ffb93f;
	text-decoration: none;
}

.btn-solid-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 0.125rem solid #ffb93f;
	border-radius: 2rem;
	background-color: #ffb93f;
	color: #1d1d3f;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	border: 0.125rem solid #ffb93f;
	background-color: transparent;
	color: #ffb93f;
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 0.125rem solid #1d1d3f;
	border-radius: 2rem;
	background-color: transparent;
	color: #1d1d3f;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	border: 0.125rem solid #1d1d3f;
	background-color: #1d1d3f;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.625rem 1.625rem 2.625rem;
	border: 0.125rem solid #1d1d3f;
	border-radius: 2rem;
	background-color: transparent;
	color: #1d1d3f;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	border: 0.125rem solid #1d1d3f;
	background-color: #1d1d3f;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.625rem 1rem 1.625rem;
	border: 0.125rem solid #1d1d3f;
	border-radius: 2rem;
	background-color: transparent;
	color: #1d1d3f;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	border: 0.125rem solid #1d1d3f;
	background-color: #1d1d3f;
	color: #ffffff;
	text-decoration: none;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.form-group.has-error.has-danger {
	margin-bottom: 0.625rem;
}

.label-control {
	position: absolute;
	top: 1.0625rem;
	left: 2rem;
	color: #1d1d3f;
	opacity: 1;
	font: 400 0.875rem/1.375rem "Open Sans", sans-serif;
	cursor: text;
	transition: all 0.2s ease;
}

/* IE10+ hack to solve lower label text position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	.label-control {
		top: 0.9375rem;
	}
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.25rem;
	padding-bottom: 0.25rem;
	padding-left: 1.875rem;
	border: 1px solid #c4d8dc;
	border-radius: 2rem;
	background-color: #fff;
	color: #1d1d3f;
	font: 400 0.875rem/1.875rem "Open Sans", sans-serif;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3rem;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

select::-ms-expand {
    display: none; /* removes the ugly default down arrow on select form field in IE11 */
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 14rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.25rem;
	padding-left: 1.875rem;
	border: 1px solid #c4d8dc;
	border-radius: 0;
	background-color: #fff;
	color: #1d1d3f;
	font: 400 0.875rem/1.75rem "Open Sans", sans-serif;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

/* IE10+ hack to raise checkbox field position compared to the rest of the browsers */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
	input[type='checkbox'] {
		vertical-align: -9%;
	}
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.5rem;
	border: 0.125rem solid #ffb93f;
	border-radius: 2rem;
	background-color: #ffb93f;
	color: #1d1d3f;
	font: 600 0.875rem/0 "Open Sans", sans-serif;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	border: 0.125rem solid #ffb93f;
	background-color: transparent;
	color: #ffb93f;
}

/* Form Success And Error Message Formatting */
#smsgSubmit.h3.text-center.tada.animated,
#nmsgSubmit.h3.text-center.tada.animated,
#cmsgSubmit.h3.text-center.tada.animated,
#smsgSubmit.h3.text-center,
#nmsgSubmit.h3.text-center,
#cmsgSubmit.h3.text-center {
	display: block;
	margin-bottom: 0;
	color: #ff5a75;
	font-weight: 400;
	font-size: 1.125rem;
	line-height: 1rem;
}

.help-block.with-errors .list-unstyled {
	font-size: 0.75rem;
	line-height: 1.125rem;
	text-align: left;
}

.help-block.with-errors ul {
	margin-top: 0.375rem;
	margin-bottom: 0;
	color: #ff5a75;
}
/* end of form success and error message formatting */

/* Form Success And Error Message Animation - Animate.css */
@-webkit-keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

@keyframes tada {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
	10%, 20% {
		-webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
	}
	30%, 50%, 70%, 90% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
	}
	40%, 60%, 80% {
		-webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		-ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
		transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
	}
	to {
		-webkit-transform: scale3d(1, 1, 1);
		-ms-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1);
	}
}

.tada {
	-webkit-animation-name: tada;
	animation-name: tada;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
/* end of form success and error message animation - Animate.css */

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/* Fade Animation For Image Lightbox - Magnific Popup */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image lightbox - magnific popup */


/**********************/
/*     Navigation     */
/**********************/
.navbar-custom {
	background-color: #ebeffb;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 400 1rem/1rem "Open Sans", sans-serif;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 9.5625rem;
	height: auto;
}

.navbar-custom .navbar-brand.logo-text {
	color: #ffffff;
	font: 700 2rem/1rem "Open Sans", sans-serif;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.75rem 0.75rem;
	color: #5a676f;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #ff5a75;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle {
	cursor: default;
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	padding-top: 1.375rem;
	padding-bottom: 1.375rem;
	border: none;
	border-radius: 0.25rem;
	background-color: #ebeffb;
}

.navbar-custom .dropdown-item {
	text-decoration: none;
	color: #5a676f;
	font: 400 1rem/1rem "Open Sans", sans-serif;
}

.navbar-custom .dropdown-item:hover {
	background-color: #ebeffb;
	color: #ff5a75;
}

.navbar-custom .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto 0.75rem auto;
	border: none;
	background-color: #9197be;
	opacity: 0.3;
}
/* end of dropdown menu */

.navbar-custom .social-icons {
	display: none;
}

.navbar-custom .navbar-toggler {
	padding: 0;
	border: none;
	color: #5a676f;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/******************/
/*     Header     */
/******************/
.header {
	position: relative;
	padding-top: 7rem;
	padding-bottom: 8rem;
	border-bottom-left-radius: 7rem;
	background-color: #ebeffb;
	text-align: center;
}

.header .text-container {
	margin-bottom: 4rem;
}

.header h1 {
	margin-bottom: 1rem;
}

.header .p-lg {
	margin-bottom: 2.25rem;
}

.header h5 {
	margin-bottom: 1.125rem;
}

.header form {
	margin-bottom: 2rem;
}

.header .countdown #clock .counter-number {
	display: inline-block;
	margin-right: 0.875rem;
	margin-bottom: 1.5rem;
	margin-left: 0.875rem;
	color: #1d1d3f;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 1.25rem;
}

.header .countdown #clock .counter-number:first-of-type {
	margin-left: 0;
}

.header .countdown #clock .counter-number:last-of-type {
	margin-right: 0;
}

.header .countdown #clock .counter-number .timer-text {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
}


/************************/
/*     Introduction     */
/************************/
.basic-1 {
	padding-top: 7.5rem;
	padding-bottom: 2rem;
}

.basic-1 .section-title {
	display: flex;
	align-items: flex-start;
	margin-bottom: 0.75rem;
}

.basic-1 .fa-stack {
	width: 3.5rem;
	margin-right: 0.75rem;
	font-size: 1.625rem;
}

.basic-1 .fa-stack-2x {
	color: #ebeffb;
}

.basic-1 .fa-stack-2x.white {
	color: #ffffff;
}

.basic-1 .fa-stack-1x {
	color: #ff6484;
}

.basic-1 h3 {
	flex: 1;
	margin-top: 0.375rem;
	margin-bottom: 0;
}

.basic-1 .text-container {
	margin-bottom: 3rem;
}

.basic-1 .text-box {
	margin-bottom: 3rem;
	padding: 1rem 1.25rem 0.5rem 1.25rem;
	background-color: #ebeffb;
}

.basic-1 .list-unstyled .fas {
	color: #4037a6;
	font-size: 0.75rem;
	line-height: 1.875rem;
}

.basic-1 .list-unstyled .media-body {
	margin-left: 0.4375rem;
}


/*********************/
/*     Takeaways     */
/*********************/

.card-title-price {
	margin-bottom: 0.375rem;
	margin-top: 15px;
	color: #ff5a75;
	text-align: center;
    font: 700 1.125rem/1.5rem "Open Sans", sans-serif;
}
.cards-2 .card .price .currency {
    margin-right: 0.25rem;
    color: #434c54;
    font-weight: 700;
    font-size: 1.5rem;
    vertical-align: 40%;
}
.cards-2 .card .price .value {
    color: #434c54;
    font: 700 3.25rem/3.5rem "Open Sans", sans-serif;
    text-align: center;
}
.cards-2 .card .frequency {
    font-size: 0.875rem;
    text-align: center;
}
.price{
	text-align: center;
}
.cards-2 .card .divider {
    height: 1px;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
    border: none;
    background-color: #ccd3df;
}
.cards-2 .card .list-unstyled {
    margin-top: 1.875rem;
    margin-bottom: 1.625rem;
    text-align: left;
}
.cards-2 .card .list-unstyled .media {
    margin-bottom: 0.5rem;
}
.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}
.cards-2 .card .list-unstyled .fas {
    color: #ff5a75;
    font-size: 0.875rem;
    line-height: 1.625rem;
}
.cards-2 .card .list-unstyled .fas.fa-times {
    margin-left: 0.1875rem;
    margin-right: 0.125rem;
    color: #555;
}
.cards-2 {
    padding-top: 7.875rem;
    padding-bottom: 2.25rem;
    text-align: center;
}
.cards-2 .card .list-unstyled .media-body {
    margin-left: 0.625rem;
}
.cards-1 {
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.cards-1 .card {
	margin-bottom: 3.5rem;
	border: none;
	background-color: #ffffff;
}

.cards-1 .card-title {
	margin-bottom: 0.375rem;
	
}

.cards-1 .card-image {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	margin-bottom: 1.75rem;
	height: 4.375rem;
}

.cards-1 .card-image img {
	max-width: 6.25rem;
}

.cards-1 .card .fas {
	color: #e8505b;
	font-size: 3.5rem;
}

.cards-1 .card-body {
	padding: 0;
}


.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }


/*******************/
/*     Summary     */
/*******************/
.basic-2 {
	padding-top: 7rem;
	padding-bottom: 7.5rem;
	border-bottom-right-radius: 7rem;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/summary-background.jpg') center center no-repeat;
	background-size: cover;
}

.basic-2 h2,
.basic-2 h4,
.basic-2 p {
	color: #ffffff;
}

.basic-2 .hr-heading {
	margin-top: 0.25rem;
	margin-bottom: 1.5rem;
	background-color: #ffffff;
}

.basic-2 .text-container {
	margin-bottom: 4rem;
}

.basic-2 .text-container h4 {
	margin-bottom: 0.75rem;
}

.basic-2 .text-container p {
	margin-bottom: 0.5rem;
}

.basic-2 .chapter {
	margin-bottom: 2.25rem;
}


/***********************/
/*     Description     */
/***********************/
.tabs {
	padding-top: 7.5rem;
	padding-bottom: 8.25rem;
}

.tabs .image-container {
	margin-bottom: 3rem;
}

.tabs .nav-tabs {
	margin-bottom: 1.125rem;
	border: none;
}

.tabs .nav-item {
	width: 100%;
	margin-bottom: 0.75rem;
	text-align: center;
}

.tabs .nav-link {
	padding: 0.5rem 1.5rem;
	border-radius: 0;
	background-color: #f7f9fd;
	color: #808a8f;
	font-weight: 600;
	font-size: 1.125rem;
	text-decoration: none;
	transition: all 0.2s ease;
}

.tabs .nav-link:hover,
.tabs .nav-link.active {
	background-color: #d0d2f8;
	color: #403aa2;
}

.tabs .nav-link .fas,
.tabs .nav-link .far {
	margin-right: 0.375rem;
}

.tabs .list-unstyled .fas {
	color: #4037a6;
	font-size: 0.75rem;
	line-height: 1.875rem;
}

.tabs .list-unstyled .media-body {
	margin-left: 0.4375rem;
}

.tabs #tab-1 .list-unstyled {
	margin-bottom: 1.5rem;
}


/********************************/
/*     Description Lightbox     */
/********************************/
.lightbox-basic {
	position: relative;
	max-width: 35rem;
	margin: 2.5rem auto;
	padding: 1.5625rem;
	background: #fff;
	text-align: left;
}

.lightbox-basic img {
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
}

.lightbox-basic h3 {
	margin-bottom: 1.25rem;
}

.lightbox-basic .list-unstyled {
	margin-bottom: 1.75rem;
}

.lightbox-basic .list-unstyled .fas {
	color: #4037a6;
	font-size: 0.75rem;
	line-height: 1.875rem;
}

.lightbox-basic .list-unstyled .media-body {
	margin-left: 0.4375rem;
}

.lightbox-basic .btn-solid-reg {
	margin-bottom: 1rem;
}

/* Action Button */
.lightbox-basic .btn-solid-reg.mfp-close {
	position: relative;
	width: auto;
	height: auto;
	color: #1d1d3f;
	opacity: 1;
}

.lightbox-basic .btn-solid-reg.mfp-close:hover {
	color: #ffb93f;
}
/* end of action Button */

/* Back Button */
.lightbox-basic .btn-outline-reg.mfp-close.as-button {
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	margin-left: 0.375rem;
	padding: 1.25rem 2.25rem 1.25rem 2.25rem;
	border: 0.125rem solid #1d1d3f;
	color: #1d1d3f;
	opacity: 1;
}

.lightbox-basic .btn-outline-reg.mfp-close.as-button:hover {
	color: #fff;
}
/* end of back button */

/* Close X Button */
.lightbox-basic button.mfp-close.x-button {
	position: absolute;
	top: -0.125rem;
	right: -0.125rem;
	width: 2.75rem;
	height: 2.75rem;
	color: #555;
}
/* end of close x button */


/**********************/
/*     Instructor     */
/**********************/
.basic-3 {
	padding-top: 6.5rem;
	background-color: #ebeffb;
}

.basic-3 .text-container {
	margin-bottom: 3rem;
}

.basic-3 .hr-heading {
	margin-top: 0.25rem;
	margin-bottom: 1.5rem;
}

.basic-3 .list-unstyled .fas {
	color: #4037a6;
	font-size: 0.75rem;
	line-height: 1.875rem;
}

.basic-3 .list-unstyled .media-body {
	margin-left: 0.4375rem;
}


/************************/
/*     Testimonials     */
/************************/
.slider {
	padding-top: 7.5rem;
	padding-bottom: 3rem;
}

.slider .slider-container {
	position: relative;
}

.slider .swiper-container {
	position: static;
	width: 90%;
	text-align: center;
}

.slider .swiper-button-prev:focus,
.slider .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider .swiper-button-prev {
	left: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23585f63'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider .swiper-button-next {
	right: -0.5rem;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23585f63'%2F%3E%3C%2Fsvg%3E");
	background-size: 1.125rem 1.75rem;
}

.slider .card {
	position: relative;
	border: none;
	background-color: transparent;
}

.slider .card-image {
	width: 6rem;
	height: 6rem;
	margin-right: auto;
	margin-bottom: 0.25rem;
	margin-left: auto;
	border-radius: 50%;
}

.slider .card-body {
	padding-bottom: 0;
}

.slider .testimonial-text {
	margin-bottom: 0.5rem;
}

.slider .testimonial-author {
	margin-bottom: 0;
}


/********************/
/*     Partners     */
/********************/
.basic-4 {
	padding-top: 3rem;
	padding-bottom: 5rem;
	text-align: center;
}

.basic-4 h4 {
	margin-bottom: 1.5rem;
}

.basic-4 img {
	display: block;
	max-width: 100%;
	height: auto;
	max-height: 2.25rem;
	margin-right: auto;
	margin-bottom: 2.25rem;
	margin-left: auto;
}


/**********************/
/*     Invitation     */
/**********************/
.counter {
	padding-top: 7rem;
	padding-bottom: 7.5rem;
	border-bottom-right-radius: 7rem;
	background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../images/invitation-background.jpg') center center no-repeat;
	background-size: cover;
	text-align: center;
}

.counter #counter {
	margin-bottom: 1rem;
}

.counter #counter .cell {
	display: inline-block;
	width: 6.25rem;
	margin-right: 1.5rem;
	margin-bottom: 1rem;
	margin-left: 1.5rem;
	vertical-align: top;
}

.counter #counter .counter-value {
	color: #ffffff;
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.625rem;
	vertical-align: middle;
}

.counter #counter .counter-info {
	margin-bottom: 0;
	color: #ffffff;
	font-size: 0.875rem;
	line-height: 1.5rem;
	vertical-align: middle;
}

.counter h3,
.counter p {
	color: #ffffff;
}

.counter h3 {
	margin-bottom: 1.75rem;
}


/*********************/
/*     Portfolio     */
/*********************/
.cards-2 {
	padding-top: 7rem;
	padding-bottom: 2rem;
}

.cards-2 .card {
	margin-bottom: 4rem;
}

.cards-2 h2 {
	text-align: center;
}

/* Hover Animation */
.cards-2 .card-image {
	overflow: hidden;
	border-radius: 0.25rem;
}

.cards-2 .card-image img {
	margin: 0;
	border-radius: 0.25rem;
	transition: all 0.3s;
}

.cards-2 .card-image:hover img {
	-moz-transform: scale(1.15);
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
} 
/* end of hover animation */

.cards-2 .class-header {
	margin-bottom: 0.25rem;
}

.cards-2 .class-name,
.cards-2 .class-price {
	font-weight: 700;
	font-size: 1.125rem;
}

.cards-2 .class-name {
	margin-right: 0.25rem;
}

.cards-2 .class-price {
	color: #ff5a75;
}

.cards-2 .class-price.green {
	color: #1fce76;
}

.cards-2 .class-details {
	margin-bottom: 0;
}


/**********************/
/*     Newsletter     */
/**********************/
.form {
	padding-top: 2rem;
	padding-bottom: 7.75rem;
	text-align: center;
}

.form .text-container {
	position: relative;
	overflow: hidden;
	padding: 6.5rem 1rem 5.75rem 1rem;
	background-color: #ebeffb;
}

.form .envelope {
	position: absolute;
	right: -2rem;
	bottom: -3rem;
	width: 60%;
}

.form h2 {
	margin-bottom: 0.75rem;
}

.form .p-heading {
	margin-bottom: 3rem;
}

.form .label-control {
	left: 2.125rem;
}

.form .form-control-input {
	padding-left: 2rem;
}


/******************/
/*     Footer     */
/******************/
.footer {
	padding-top: 7.25rem;
	padding-bottom: 6.5rem;
	background-color: #4037a6;
	text-align: center;
}

.footer a {
	color: #ffffff;
	text-decoration: none;
}

.footer h3 {
	margin-bottom: 1.875rem;
	color: #ffffff;
}

.footer .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.footer .fa-stack .fa-stack-1x {
    color: #4037a6;
	transition: all 0.2s ease;
}

.footer .fa-stack .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.footer .fa-stack:hover .fa-stack-1x {
	color: #fff;
}

.footer .fa-stack:hover .fa-stack-2x {
    color: #4037a6;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-top: 1.5rem;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	background-color: #4037a6;
	text-align: center;
}

.copyright a {
	text-decoration: none;
	color: #a4b2be;
}

.copyright .statement {
	color: #a4b2be;
}


/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #30297e url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #1b1747; 
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 7rem;
	padding-bottom: 3rem;
}

.ex-basic-1 .list-unstyled .fas {
	color: #4037a6;
	font-size: 0.5rem;
	line-height: 1.75rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.625rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #ebeffb;
}

.ex-basic-1 .text-box .text-box-icon {
	color: #4037a6;
	font-size: 2.5rem;
}

.ex-basic-1 .map-responsive {
	overflow: hidden;
	position: relative;
	margin-bottom: 3rem;
	padding-bottom: 56.25%;
	height: 0;
	border-radius: 0.25rem;
}

.ex-basic-1 .map-responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
	border: none; 
}

.ex-cards-1 .card {
	margin-bottom: 1rem;
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #4037a6;
}

.ex-cards-1 .card .fa-stack-1x {
	color: #fff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h4 {
	margin-bottom: 0.25rem;
}

.ex-form-1 .form-group {
	margin-bottom: 1.75rem;
}

.ex-form-1 .label-control {
	top: 1.375rem;
	left: 2rem;
	font-size: 1rem;
}

.ex-form-1 .form-control-input:focus + .label-control,
.ex-form-1 .form-control-input.notEmpty + .label-control,
.ex-form-1 .form-control-textarea:focus + .label-control,
.ex-form-1 .form-control-textarea.notEmpty + .label-control {
	top: 0.25rem;
}

.ex-form-1 .form-control-input,
.ex-form-1 .form-control-textarea {
	background-color: #ebeffb;
}

.ex-form-1 .form-control-input {
	padding-top: 1.5625rem;
	padding-bottom: 0.5625rem;
}

.ex-form-1 .form-control-textarea {
	padding-top: 1.5rem;
}

.ex-form-1 .form-control-submit-button {
	height: 4rem;
	border-radius: 2.5rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* General Styles */
	h1 {
		font-size: 3rem;
		line-height: 3.75rem;
	}
	/* end of general styles */


	/* Header */
	.header {
		padding-top: 9rem;
		padding-bottom: 9rem;
	}

	.header h1 {
		letter-spacing: -0.7px;
	}

	.header form {
		margin-bottom: 0.5rem;
	}

	.header .form-group {
		max-width: 22rem;
		display: inline-block;
		vertical-align: top;
	}
	
	.header .form-control-input {
		width: 22rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.header .form-control-submit-button {
		width: 10rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}

	.header .countdown #clock .counter-number {
		margin-right: 0.25rem;
		margin-left: 0.25rem;
		font-size: 2.5rem;
		line-height: 2rem;
	}
	
	.header .countdown #clock .counter-number br {
		display: none;
	}
	
	.header .countdown #clock .counter-number .timer-text {
		margin-left: 0.5rem;
		font-size: 0.875rem;
		line-height: 2rem;
		vertical-align: top;
	}
	/* end of header */
	

	/* Introduction */
	.basic-1 .text-box {
		padding: 1.875rem 2.5rem 1.25rem 2.5rem;
	}
	/* end of introduction */


	/* Description */
	.tabs .nav-item {
		width: auto;
		margin-right: 0.625rem;
	}
	/* end of description */


	/* Testimonials */
	.slider .swiper-button-prev {
		left: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	
	.slider .swiper-button-next {
		right: 1rem;
		width: 1.375rem;
		background-size: 1.375rem 2.125rem;
	}
	/* end of testimonials */


	/* Partners */
	.basic-4 img {
		display: inline-block;
		width: 6.25rem;
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of partners */


	/* Portfolio */
	.cards-2 .class-name {
		display: inline-block;
		width: 90.35%;
		margin-right: 0;
	}
	
	.cards-2 .class-price {
		display: inline-block;
		width: 9%;
		text-align: right;
		vertical-align: top;
	}
	/* end of portfolio */


	/* Newsletter */
	.form .envelope {
		right: -2rem;
		bottom: -4rem;
		width: 40%;
	}

	.form .form-group {
		max-width: 20rem;
		display: inline-block;
		vertical-align: top;
	}
	
	.form .form-control-input {
		width: 20rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}

	.form .form-control-submit-button {
		width: 9rem;
		margin-left: -0.375rem;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
	/* end of newsletter */


	/* Footer */
	.footer .footer-col.second {
		display: inline-block;
		width: 10rem;
		margin-right: 4rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 10rem;
		margin-right: 5rem;
		vertical-align: top;
	}
	
	.footer .footer-col.fourth {
		display: inline-block;
		width: 13.5rem;
		vertical-align: top;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-header {
		padding-top: 10rem;
	}

	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}

	.ex-cards-2 .card {
		display: inline-block;
		margin-right: 0.625rem;
		margin-left: 0.625rem;
		vertical-align: top;
	}

	.ex-cards-3 .card {
		display: inline-block;
		margin-right: 1.25rem;
		margin-left: 1.25rem;
		vertical-align: top;
	}

	.ex-cards-3 .card .card-body {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.ex-cards-4 .card {
		display: inline-block;
		max-width: 20rem;
		margin-right: 1.25rem;
		margin-left: 1.25rem;
		vertical-align: top;
	}

	.ex-cards-4 .card .card-body {
		padding-right: 2rem;
		padding-left: 2rem;
	}

	.ex-cards-5 {
		text-align: center;
	}

	.ex-cards-5 .card {
		display: inline-block;
		max-width: 17.5rem;
		margin-right: 1.5rem;
		margin-left: 1.5rem;
		vertical-align: top;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.p-heading {
		width: 75%;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of general styles */


	/* Navigation */
	.navbar-custom {
		position: absolute;
		margin-top: 1.25rem;
		background-color: transparent;
		box-shadow: none;
	}
	
	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem;
	}
	
	.navbar-custom .dropdown-menu {
		padding-top: 1rem;
		padding-bottom: 1.125rem;
		border-top: 0.875rem solid rgba(255, 255, 255, 0);
		background-color: #e4e8f7;
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-item:hover {
		background-color: #e4e8f7;
	}

	.navbar-custom .dropdown-divider {
		width: 84%;
	}

	.navbar-custom .social-icons {
		display: block;
		margin-left: 0.5rem;
	}

	.navbar-custom .fa-stack {
		width: 2em;
		margin-left: 0.25rem;
		font-size: 0.75rem;
	}
	
	.navbar-custom .fa-stack-2x {
		color: #4037a6;
		transition: all 0.2s ease;
	}
	
	.navbar-custom .fa-stack-1x {
		color: #ffffff;
		transition: all 0.2s ease;
	}

	.navbar-custom .fa-stack:hover .fa-stack-2x {
		color: #ffffff;
	}

	.navbar-custom .fa-stack:hover .fa-stack-1x {
		color: #4037a6;
	}
	/* end of navigation */


	/* Header */
	.header {
		padding-top: 10rem;
		padding-bottom: 10rem;
		border-bottom-left-radius: 15rem;
		text-align: left;
	}

	.header .text-container {
		margin-bottom: 0;
	}

	.header .form-group {
		max-width: 19rem;
	}
	
	.header .form-control-input {
		width: 18rem;
	}
	/* end of header */


	/* Takeaways */
	.cards-1 .card {
		display: inline-block;
		width: 13.375rem;
		margin-right: 0.625rem;
		margin-left: 0.625rem;
		vertical-align: top;
	}
	
	.cards-1 .card:nth-of-type(4n+1) {
		margin-left: 0;
	}

	.cards-1 .card:nth-of-type(4n+4) {
		margin-right: 0;
	}
	/* end of takeaways */


	/* Description */
	.tabs .image-container {
		margin-bottom: 0;
	}
	/* end of description */


	/* Description Lightbox */
	.lightbox-basic {
		max-width: 50rem;
	}

	.lightbox-basic img {
		margin-bottom: 0;
	}
	
	.lightbox-basic .btn-solid-reg,
	.lightbox-basic .btn-outline-reg {
		margin-bottom: 0;
	}
	/* end of description lightbox */


	/* Summary */
	.basic-2 {
		border-bottom-right-radius: 15rem;
	}

	.basic-2 .text-container {
		margin-bottom: 0;
	}
	/* end of summary */


	/* Instructor */
	.basic-3 {
		border-bottom-left-radius: 15rem;
	}

	.basic-3 .text-container {
		margin-bottom: 6.5rem;
	}

	.basic-3 .image-container {
		position: absolute;
		bottom: 0;
	}
	/* end of instructor */


	/* Partners */
	.basic-4 img {
		width: 8.5rem;
		margin-bottom: 2.5rem;
	}
	/* end of partners */


	/* Invitation */
	.counter {
		border-bottom-right-radius: 15rem;
	}
	
	.counter h3 {
		width: 50rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of invitation */


	/* Portfolio */
	.cards-2 .card {
		display: inline-block;
		width: 27.875rem;
		vertical-align: top;
	}
	
	.cards-2 .card:nth-of-type(2n+1) {
		margin-right: 1rem;
	}
	
	.cards-2 .card:nth-of-type(2n+2) {
		margin-left: 1rem;
	}

	.cards-2 .class-name {
		width: 87.9%;
	}
	
	.cards-2 .class-price {
		width: 11%;
	}
	/* end of portfolio */


	/* Footer */
	.footer h3 {
		width: 46rem;
		margin-right: auto;
		margin-left: auto;
	}
	/* end of footer */


	/* Copyright */
	.copyright {
		text-align: left;
	}

	.copyright .list-unstyled li {
		display: inline-block;
		margin-right: 1rem;
	}

	.copyright .statement {
		text-align: right;
	}
	/* end of copyright */


	/* Extra Pages */
	.navbar-custom.navbar-gray {
		margin-top: 0;
		background-color: #ebeffb;
	}

	.ex-cards-1 .card {
		display: inline-block;
		width: 18.5rem;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}

	.ex-form-1 form {
		width: 43.125rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* General Styles */
	.p-heading {
		width: 65%;
	}
	/* end of general Styles */


	/* Header */
	.header {
		padding-top: 14.5rem;
		padding-bottom: 15rem;
		overflow-x: hidden;
	}

	.header .text-container {
		margin-right: 4.25rem;
	}

	.header h1 {
		font-size: 3.25rem;
		line-height: 4.125rem;
	}

	.header form {
		width: 31rem;
	}

	.header .form-group {
		max-width: 22rem;
	}
	
	.header .form-control-input {
		width: 19rem;
	}

	.header .countdown {
		height: 3.5rem; /* Fixes a header display error in Edge*/
	}

	.header .countdown #clock .counter-number {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
	}

	.header .image-container {
		position: absolute;
		top: -5rem;
		left: 2rem;
		width: 49.375rem;
	}
	/* end of header */


	/* Introduction */
	.basic-1 .text-container {
		margin-top: 1.75rem;
		margin-right: 4rem;
	}
	/* end of introduction */


	/* Takeaways */
	.cards-1 .card {
		width: 15rem;
		margin-right: 1.375rem;
		margin-left: 1.375rem;
	}
	
	.cards-1 .card:nth-of-type(4n+1) {
		margin-left: 0;
	}

	.cards-1 .card:nth-of-type(4n+4) {
		margin-right: 0;
	}
	/* end of takeaways */


	/* Summary */
	.basic-2 .text-container {
		margin-top: 3rem;
	}

	.basic-2 .image-container {
		margin-left: 2.75rem;
	}
	/* end of summary */


	/* Description */
	.tabs .tabs-container {
		margin-top: 1.25rem;
		margin-left: 3.125rem;
	}
	/* end of description */


	/* Description Lightbox */
	.lightbox-basic {
		max-width: 65rem;
		padding: 2.75rem;
	}

	.lightbox-basic .text-container {
		margin-right: 1rem;
		margin-left: 2rem;
	}
	/* end of description lightbox */


	/* Instructor */
	.basic-3 {
		padding-top: 7rem;
	}

	.basic-3 .text-container {
		margin-bottom: 7.5rem
	}
	/* end of instructor */


	/* Partners */
	.basic-4 img {
		width: 9.625rem;
		margin-right: 2rem;
		margin-left: 2rem;
	}
	/* end of partners */
	
	
	/* Invitation */
	.counter #counter .cell {
		width: 7.75rem;
		margin-right: 1.125rem;
		margin-left: 1.125rem;
	}
	
	.counter #counter .cell:first-of-type {
		margin-left: 0;
	}

	.counter #counter .cell:last-of-type {
		margin-right: 0;
	}
	/* end of invitation */


	/* Portfolio */
	.cards-2 .card {
    width: 19.375rem;
    max-width: 100%;
    margin-left: 1.75rem;
	}
	
	.cards-2 .card:nth-of-type(2n+1) {
		margin-right: 1.25rem;
	}
	
	.cards-2 .card:nth-of-type(2n+2) {
		margin-left: 1.25rem;
	}

	.cards-2 .class-name {
		width: 88%;
	}
	
	.cards-2 .class-price {
		width: 11%;
	}
	/* end of portfolio */


	/* Newsletter */
	.form .envelope {
		right: -2rem;
		bottom: -4rem;
		width: 30%;
	}
	/* end of newsletter */


	/* Footer */
	.footer .footer-col.first {
		width: 19.5rem;
		margin-right: 7rem;
	}
	
	.footer .footer-col.second {
		margin-right: 5.5rem;
	}
	
	.footer .footer-col.third {
		margin-right: 3rem;
	}

	.footer .footer-col.fourth {
		text-align: right;
	}

	.footer .footer-col.fourth .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


	/* Extra Pages */
	.sm-wd-container {
		width: 53rem;
	}

	.ex-cards-1 .card {
		width: 21rem;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}

	.ex-cards-5 .card {
		max-width: 19.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */